<div class="text-center">
  <h1 class="my-5">ユーザーの編集</h1>
<div class="py-3">

  <%= form_for(@user) do |f| %>

    <div class="form-group">
    <%= f.label :name, "ユーザー名" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
    </div>

    <div class="form-group">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
    </div>

    <div class="form-group">
    <%= f.label :password_confirmation, "パスワードの確認" %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter confirmation" %>
    </div>

    <%= f.submit "編集する", class: "btn btn-primary my-4" %>

  <% end %>
</div>
</div>
